.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}
.login-area{
    background-color: #fff;
    width: 568px;
    margin: 0 auto;
    border: 1px solid #ABABAB;
    border-radius: 6px;
    padding: 24px;
}
button.login-btn {
    background: #fff;
    border: 2px solid #C7C7C7;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px;
    font-weight: 500;
}

.login-btn svg {
    font-size: 25px;
}

.login-social {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.social-login-area p {
    text-align: center;
    font-size: 16px;
}

.social-login-area p.or {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.social-login-area p.or::before {
    content: '';
    position: absolute;
    width: 46%;
    height: 1px;
    background: #C7C7C7;
    top: 15px;
    right: 0px;
}

.social-login-area p.or::after {
    content: '';
    position: absolute;
    width: 46%;
    height: 1px;
    background: #C7C7C7;
    top: 15px;
    left: 0px;
}

@media (min-width: 1200px) {
    .login-area{
        width: 568px;
        margin: 0 auto;
        border: 1px solid #ABABAB;
        border-radius: 6px;
    }
}
@media (max-width: 768px) {
    .login-area{
        width: 100%;
    }
    .logo img{
        width: 200px;
    }
    .login-social{
        flex-direction: column;
    }
    button.login-btn {
        margin-bottom: 15px;
    }
}